build/
*.swp
Session.vim
RTOS/Mini_RTOS - Copy/README.md
RTOS/Mini_RTOS - Copy/CMSIS/
RTOS/Mini_RTOS - Copy/ek-tm4c123gxl/
RTOS/Mini_RTOS - Copy/nucleo-c031c6/README.txt
RTOS/Mini_RTOS - Copy/qpc/
RTOS/Mini_RTOS/README.md
RTOS/Mini_RTOS/nucleo-c031c6/
RTOS/Mini_RTOS/stm32c031-keil/
RTOS/Mini_RTOS/README.md
RTOS/Mini_RTOS/tm4c123-keil/
RTOS/Mini_RTOS/qpc/
ZEPHYR_RTOS/
Tiva_C_series/embedded/lesson-49/
Emb_Testing/Embedded-Test-2.1.0/
Emb_Testing/Embedded_Test/U-Test/3rd_party/
Emb_Testing/Embedded_Test/U-Test/img/
ZEPHYR_RTOS/.west/manifest-tmp
ZEPHYR_RTOS/.west/manifest-tmp
Firmware/BareMetalSeries/.vscode/.cortex-debug.registers.state.json
Firmware/BareMetalSeries/.vscode/c_cpp_properties.json
Firmware/BareMetalSeries/.vscode/launch.json
Firmware/BareMetalSeries/.vscode/settings.json
Firmware/BareMetalSeries/.vscode/tasks.json
Firmware/BareMetalSeries/.vscode/jlink/power-off.jlink
Firmware/BareMetalSeries/.vscode/jlink/power-on.jlink
Emb_Tracing/Printf_tracing/qpc/README.md
Emb_Tracing/Printf_tracing/qpc/
Emb_Tracing/Binary-Protocols_tracing/qpc/
ZEPHYR_RTOS/.west/manifest-tmp
.gitignore
*.bak
*.db_info
*.flock
*.qsf
*.qpf
*.qws
*.sci
*.code-workspace
*.temp
Firmware/xv6-riscv/
*manifest-temp
RTOS/Mini_RTOS/tm4c123-keilSession.vim
.venv/
